<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
     <objectContribution
           id="br.ufscar.ARCH-KDM.ui.objectContribution2"
           nameFilter="*.xmi"
           objectClass="org.eclipse.core.resources.IFile">
        <menu
              icon="icons/ArchKDM-LOGO.png"
              id="br.ufscar.ARCH-KDM.ui.subMenu"
              label="Arch-KDM"
              path="additions">
           <separator
                 name="group1">
           </separator>
        </menu>
        <action
              class="br.ufscar.ARCH_KDM.actions.ActionRecoveryArchitecture"
              enablesFor="1"
              icon="icons/recovery.png"
              id="br.ufscar.ARCH-KDM.ui.action2"
              label="Recovery Architecture View"
              menubarPath="br.ufscar.ARCH-KDM.ui.subMenu/group1">
        </action>
        <action
              class="br.ufscar.ARCH_KDM.actions.ArchitectureComplianceChecking"
              enablesFor="1"
              id="br.ufscar.ARCH-KDM.ui.action3"
              label="Architecture Compliance Checking"
              menubarPath="br.ufscar.ARCH-KDM.ui.subMenu/group1">
        </action>
        <action
              class="br.ufscar.ARCH_KDM.actions.GettingKDMInstance"
              enablesFor="1"
              id="br.ufscar.ARCH-KDM.ui.action4"
              label="Get KDM Instance"
              menubarPath="br.ufscar.ARCH-KDM.ui.subMenu/group1">
        </action>
        <action
              class="br.ufscar.ARCH_KDM.actions.MapArchitectureElementsToCodeElements"
              enablesFor="1"
              id="br.ufscar.ARCH-KDM.ui.action5"
              label="Map Architectural Elements"
              menubarPath="br.ufscar.ARCH-KDM.ui.subMenu/group1">
        </action>
     </objectContribution>
     <objectContribution
           id="br.ufscar.ARCH-KDM.ui.objectContribution1"
           objectClass="org.eclipse.ui.IEditorInput">
        <menu
              icon="icons/ArchKDM-LOGO.png"
              id="br.ufscar.ARCH-KDM.ui.subMenu1"
              label="Arch-KDM"
              path="additions">
           <separator
                 name="group1">
           </separator>
        </menu>
        <action
              class="br.ufscar.ARCH_KDM.actions.ReadinDSLVIew"
              enablesFor="1"
              id="br.ufscar.ARCH-KDM.ui.action6"
              label="Create KDM Structure"
              menubarPath="br.ufscar.ARCH-KDM.ui.subMenu1/group1">
        </action>
     </objectContribution> 
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.br.ufscar.dc.ui.DCLView"
            id="com.br.ufscar.dc.ui.DCLView"
            name="DCL View">
      </view>
      <view
            class="com.br.ufscar.dc.ui.RelationShipView"
            id="com.br.ufscar.dc.ui.RelationShipView"
            name="RelationShip">
      </view>
   </extension>

</plugin>
