<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="br.ufscar.archref_kdm.ui.menus.ARFmenu"
               label="Architectural Reconciliation">
            <command
                  commandId="br.ufscar.ARCH_KDM.actions.commands.ACCcommand"
                  id="br.ufscar.ARCH_KDM.actions.menus.ACCcommand"
                  label="Architectural Compilance Checking Wizard">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="br.ufscar.arch_kdm.ui.handlers.ArchitecturalCompilanceCheckingHandler"
            commandId="br.ufscar.ARCH_KDM.actions.commands.ACCcommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="br.ufscar.archref_kdm.ui.commands.ARFcategory"
            id="br.ufscar.ARCH_KDM.actions.commands.ACCcommand"
            name="Architectural Compilance Checking Command">
      </command>
   </extension>

</plugin>
